markdown
beautifulsoup4
requests
python-dotenv
pytz
g4f
cohere
google-generativeai
langchain
pip install git+https://github.com/MIDORIBIN/langchain-gpt4free.git
bing-image-downloader
instabot
tweepy
langchain-community
youtube-transcript-api
